body{
    background: linear-gradient(
135deg,
#0f172a 0%,
#1e3a8a 60%,
#2563eb 100%
);
}
.dashboard-card{

    transition: all 0.3s ease;

    border-radius:15px;
}

.dashboard-card:hover{

    transform:translateY(-8px);

    box-shadow:0 12px 25px rgba(0,0,0,0.18);

}
.navbar{

    padding:12px 0;

}

.hero-section{

    background:linear-gradient(
        135deg,
        #f8fafc,
        #eef5ff
    );

}

.dashboard-preview{

    background:white;

    border-radius:20px;

    overflow:hidden;

}

.preview-header{

    background:#1f2937;

    padding:15px;

}

.preview-header span{

    display:inline-block;

    width:12px;

    height:12px;

    border-radius:50%;

    margin-right:8px;

    background:#d1d5db;

}

.preview-body{

    padding:30px;

}

.stat-card{

    background:#f8fafc;

    border-radius:15px;

    text-align:center;

    padding:20px;

    transition:.3s;

}

.stat-card:hover{

    transform:translateY(-5px);

}

.recent-card{

    background:#f8fafc;

    border-radius:15px;

    padding:20px;

}

.recent-card ul{

    padding-left:20px;

}

.btn-primary{

    border-radius:50px;

}

.features-section{

    background:#ffffff;

}

.feature-card{

    background:#fff;

    padding:35px 25px;

    border-radius:18px;

    text-align:center;

    transition:.35s;

    border:1px solid #e5e7eb;

    height:100%;

}

.feature-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.08);

}

.feature-icon{

    width:70px;

    height:70px;

    margin:auto;

    margin-bottom:20px;

    border-radius:50%;

    background:#2563eb;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

}

.feature-card h5{

    font-weight:600;

    margin-bottom:15px;

}

.feature-card p{

    color:#6b7280;

}
.tech-section{

    background:#f8fafc;

}

.tech-card{

    background:#ffffff;

    border-radius:18px;

    padding:30px 15px;

    text-align:center;

    border:1px solid #e5e7eb;

    transition:.35s;

    height:100%;

}

.tech-card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 35px rgba(0,0,0,.08);

}

.tech-card i{

    font-size:42px;

    color:#2563eb;

    margin-bottom:18px;

}

.tech-card h6{

    font-weight:600;

}