{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<div class="row mb-4">

    <div class="col-md-6">

        <div class="card text-center shadow">

            <div class="card-body">

                <h5>Total Students</h5>

                <h2>{{ student_count }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="card text-center shadow">

            <div class="card-body">

                <h5>Total Users</h5>

                <h2>{{ user_count }}</h2>

            </div>

        </div>

    </div>

</div>

<div class="list-group">

<a href="/students" class="list-group-item">
View Students
</a>

<a href="/export" class="btn btn-success">

📥 Export Students CSV

</a>

<a href="/add" class="list-group-item">
Add Student
</a>


<a href="/search" class="list-group-item">
Search Student
</a>

<a href="/logout" class="list-group-item">
Logout
</a>

</div>

{% endblock %}