{% extends "base.html" %}

{% block content %}

<h2>Login</h2>

<form action="/login" method="POST">

    <div class="mb-3">

        <label>Login ID</label>

        <input
            type="text"
            class="form-control"
            name="login_id">

    </div>

    <div class="mb-3">

        <label>Username</label>

        <input
            type="text"
            class="form-control"
            name="username">

    </div>

    <div class="mb-3">

        <label>Password</label>

        <input
            type="password"
            class="form-control"
            name="password">

    </div>

    <button class="btn btn-primary">

        Login

    </button>

</form>

{% endblock %}